* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about1 {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to left,
      rgba(10, 31, 150, 0.6),
      rgba(5, 5, 5, 0.73)
    ),
    url("../images/fif18.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.about-text h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.about2 {
  background-color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-what-p {
  width: 60%;
  margin-top: 7rem;
}

.about2-p {
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  color: black;
  margin-top: 1rem;
  font-weight: 200;
}

.about2-h1 {
  font-size: 3rem;
  color: rgba(10, 31, 150);
  font-family: "Share", cursive;
}

.about2-h3 {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

.about3-h1 {
  margin: 0 auto;
  width: 50%;
  font-family: "Poppins", sans-serif;
  background-color: rgba(10, 31, 150);
  color: white;
}

.about-what {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  margin-left: 10rem;
}

.fif26 {
  margin-top: 40px;
  width: 70%;
  height: 90%;
}

.about3head {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Share", cursive;
  color: rgba(10, 31, 150);
  margin-top: 5%;
}
.about3-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}
.ab3text {
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: rgba(10, 31, 150);
}

.about-icon {
  width: 30%;
}

.flex-item {
  flex-basis: 25%;
  text-align: center;
  font-size: 16px;
  margin: 30px;
  transition: 0.2s linear;
}

.line {
  width: 0.3%;
  margin-right: 10%;
  margin-top: 5%;
  background-color: rgba(10, 31, 150);
}

.line2 {
  margin: 0 auto;
  margin-top: 5%;
  width: 30%;
  height: 1%;
  background-color: rgba(10, 31, 150);
}

